<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2019 Maoge International Company
        <br>Design by
        <a href="http://courses.growthschool.com/courses/rails-101/" target=_new>maoge</a>
    </p>
</footer>